In [1]:
l=["Rydfh",4356,34.6,True]

In [ ]:

l

['Rydfh', 4356, 34.6, True]

In [3]:
l.append(34)

In [4]:
l

['Rydfh', 4356, 34.6, True, 34]

In [5]:
l.extend(range(100))

In [6]:
l

['Rydfh',
 4356,
 34.6,
 True,
 34,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [7]:
l.insert(2,"Rydhm")

In [8]:
l

['Rydfh',
 4356,
 'Rydhm',
 34.6,
 True,
 34,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [9]:
t=(25,45,62,36)

In [10]:
t.append(20)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
t=[324,445,6,7]

In [12]:
t.append(30)

In [13]:
t

[324, 445, 6, 7, 30]

In [14]:
l=[234,445,6456,75]

In [15]:
l.append(20)

In [16]:
l

[234, 445, 6456, 75, 20]

In [17]:
l.pop()

20

In [18]:
l

[234, 445, 6456, 75]

In [19]:
l.append(230)

In [22]:
l.popleft()

AttributeError: 'list' object has no attribute 'popleft'

In [21]:
from collections import deque

In [ ]:
l.popleft()

AttributeError: 'list' object has no attribute 'popleft'

In [24]:
l=["Rydhm","Parul","Nagendra"]

In [25]:
for i in l:
    print(i," TCS")

Rydhm  TCS
Parul  TCS
Nagendra  TCS

In [26]:
l=[54,3456,456,5,{"Name":"Rydhm","Roll":2020}]

In [28]:
l.reverse()

In [29]:
l

[{'Name': 'Rydhm', 'Roll': 2020}, 5, 456, 3456, 54]

In [30]:
del l

In [31]:
l

NameError: name 'l' is not defined

In [32]:
[2,324,5,656,]

[2, 324, 5, 656]

In [36]:
s={235,34,346,344,34}
print(s)

{344, 34, 235, 346}

In [39]:
d={"Name":"sdg","Name":6,36:8}

In [41]:
d.keys()

dict_keys(['Name', 36])

In [42]:
d.values()

dict_values([6, 8])

In [43]:
d.items()

dict_items([('Name', 6), (36, 8)])

In [44]:
del d["Name"]

In [45]:
d

{36: 8}